@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
*{
	margin: 0;
	padding: 0;
}

.Home{
	  width: 100%;
	  background-color: #fff;
	  display: inline-block;
}

.list-uno {
	
	display: inline-block;
	margin: 1 rem 0 auto;
	background-color: #000;
	color:#fff;
	border-radius: 30px;
	width: 40%;
	position: relative;
    margin-left: 43px;

	
	

}

.list-dos {
	
	display: inline-block;
	margin: 1 rem 0 auto;
	background-color: #000;
	color:#fff;
	border-radius: 30px;
	width: 40%;
	position: relative;
	bottom: 100px;
	padding-left: 15px;
    margin-left: 43px;

	
	

}

ul {

	margin-top: 14px;
	margin-left: 5px;
}

ul.ulist-uno li {
	width: 50%;
	margin-left: 18px;
	display: inline-block;

}

ul.ulist-uno li a {
	font-family: 'Playfair Display', serif;
}

ul.ulist-dos li {
	width: 50%;
	margin-left: 18px;
	display: inline-block;

}

ul.ulist-dos li a {
	font-family: 'Playfair Display', serif;
}



input{
	width: 80%;
	
}


.p1{
	
}

.p2{
	
}

.row{
	text-align: center;
}

p{
	text-align: center;
}

ul {
	text-align: center;
}

.title {
	font-family: 'Playfair Display', serif;
	font-size: 7vh;

}

.cuadro1 {
	background-color: #00DAFF;
	font-family: 'Playfair Display', serif;
	font-size: 3vh;
}

.cuadro2 {
	background-color: #00BEE8;
	font-family: 'Playfair Display', serif;
	font-size: 3vh;
}

.cuadro3 {
	background-color: #00C7FF;
	font-family: 'Playfair Display', serif;
	font-size: 3vh;
}

.cuadro4 {
	background-color: #07F5FF;
	font-family: 'Playfair Display', serif;
	font-size: 3vh;
}

.cuadro5 {
	background-color: #00D6E8;
	font-family: 'Playfair Display', serif;
	font-size: 3vh;
}

.cuadro6 {
	background-color: #0EE3FF;
	font-family: 'Playfair Display', serif;
	font-size: 3vh;
}

.cuadro7 {
	background-color: #2ECCE8;
	font-family: 'Playfair Display', serif;
	font-size: 3vh;
}

.cuadro8 {
	background-color: #0AD0FF;
	font-family: 'Playfair Display', serif;
	font-size: 3vh;
}

