@import url('https://fonts.googleapis.com/css?family=Rammetto+One');

.Content {

  
  margin: 0;
	

  text-align: center;
  background-color: #39729e;
  /*background-image: url(../images/ingenierias.jpg);*/
  background-repeat: no-repeat;

  


  padding: 10px;
  color: black;

}

.Content h1 {
	font-size: 10vh;
	color: white;
  font-family: 'Rammetto One', cursive;
}

h1{

}
